*.json
!coco-caption/annotations/*.json
!coco-caption/results/*.json
*.npz
*.npy
*.h5
*.p
*.pyc
*.out
*.zip
*.pth
*.pkl
__pycache__/
log*
copies/*
data/cased_L-12_H-768_A-12/*
bert_test/*
eval_results/*
