*.json
!coco-caption/annotations/*.json
!coco-caption/results/*.json
*.npz
*.npy
*.h5
*.p
*.pyc
*.out
*.zip
*.pth
*.pkl
__pycache__/
log*
copies/*
data/parabu_att/*
data/parabu_fc/*
bert_test/*
eval_results/*


